@media only screen and (max-width: 600px) {
    
    
    #agenda {
        width: 100%;
        min-width: 320px;
        height: auto;
    }
    #agenda .agenda img {
        width: 100%;
        display: flex;
    }

    #agenda  h2 {
        width: 50%;
        display: flex;
    } 


    /* funcionalidad */
    #seleccionar-dia {
        display: none;
    }
    .charlas-dia {
        display: none;
    }
    #lunes {
        display: block;
    }
}

@media only screen and (min-width: 601px) {
    /* No quiero que se muestre */
    .menu-dias{
        display: none;
    }
    
    #lunes {
        width: 100%;
        height: auto;
        margin: 100px;

    }

    #lunes h1 {
        margin: 0 10 10 10px;
        font-size: 3.8rem;
        font-weight: 300;
        line-height: 44.53px;
    }


    #lunes ul {
        display: flex;
        list-style: none;
    }
    #lunes ul li {
        background-color: #C4C4C4;
        margin: 10px;
        border-radius: 10px;
        width: 350px;
        height: auto;
    }

    .Charla {
        display: flex;
        flex-wrap: wrap;
    }

    .Charla h2 {
        width: 60%;
        align-items: center;
    }

    .Charla img {
        width: 90px;
        border-radius: 100px;
        margin: 10px;
    }

    .Charla #conferencista {
        width: 200px;
    }
}

