@media only screen and (max-width: 600px) {

    .Agenda h1 {
        margin-top: 1rem;
        font-size: 3.8rem;
        font-weight: 500;
        line-height: 44.53px;  
    }

    .charlas-list {
        width: 100vw;
        display: flex;
        justify-content: center;
    }

    .charlas-dia {
        width: calc(100% - 10px);
        height: auto;
        margin: 5px;
    }

    .charlas-dia h1 {
        margin: 10px;
        font-size: 3.8rem;
        font-weight: 300;
        line-height: 44.53px;
        justify-content: left;  
    }

    .charlas-dia h2 {
        font-size: initial;
        font-weight: 700;
    }

    .charlas-dia ul {
        display: flex;
        list-style: none;
        width: 100%;
        flex-wrap: wrap;
    }


    .charlas-dia ul li {
        background-color: #C4C4C4;
        margin: 1.5%;
        border-radius: 10px;
        width: 95%;
        height: auto;
    }

    .contenido-charla {
        align-items: center;
        
    }

    .contenido-charla h2 {
        margin: 4% 4% 4% 0;
    }

    .charla-parrafo {
        margin: 1vh 0px;
    }

    .Charla {
        display: flex;
        /*
        flex-wrap: wrap; */
    }
    .charla-parrafo {
        flex-wrap: wrap; 
    }

    .Charla img {
        width: 120px;
        border-radius: 100px;
        margin: 5px;

        height: 120px;
        object-fit: cover;
    }


    /* funcionalidad */
    #seleccionar-dia {
        display: none;
    }
    .charlas-dia {
        display: none;
    }
    .charlas-dia {
        display: block;
    }


    
}

@media only screen and (min-width: 601px) {
    /* No quiero que se muestre */
    .menu-dias{
        display: none;
    }
    
    .Agenda h1 {
        margin-top: 10px;
        font-size: 3.8rem;
        font-weight: 500;
        line-height: 44.53px; 
        display: flex;
        justify-content: center;
        
    }

    .charlas-dia {
        width: calc(100% - 100px);
        height: auto;
        margin: 50px;
    }

    .charlas-dia h1 {
        margin: 10px;
        font-size: 3.8rem;
        font-weight: 300;
        line-height: 44.53px;
        justify-content: left;  
    }

    .charlas-dia h2 {
        font-size: 1.5rem;
        font-weight: 700;
    }

    .charlas-dia ul {
        display: flex;
        list-style: none;
        width: 100%;
        flex-wrap: wrap;
    }


    .charlas-dia ul li {
        background-color: #C4C4C4;
        margin: 1.5%;
        border-radius: 10px;
        width: 30%;
        height: auto;
    }

    .contenido-charla {
        align-items: center;
        
    }

    .contenido-charla h2 {
        margin: 4% 4% 4% 0;
    }

    .charla-parrafo {
        margin: 1vh 0px;
    }
    /*
    .charlas-dia .Charla a {
        
        position: relative;
        left: -140px;
        text-decoration: none;
        font-weight: 700;
        color: #0B76F7;
        top: -10px;
        
    }*/

    .Charla {
        display: flex;
        /*
        flex-wrap: wrap; */
    }
    .charla-parrafo {
        flex-wrap: wrap; 
    }

    .Charla h2 {
        /*
        width: 70%;
        align-items: center;
        vertical-align: middle;
        padding-top: 20px;
        padding-left: 10px; */
    }

    .Charla img {
        width: 120px;
        border-radius: 100px;
        margin: 5px;

        height: 120px;
        object-fit: cover;
    }

    .Charla #conferencista {
        /*
        width: 50%;
        position: relative;
        left: 31%;
        top: -60px; */
    }

    #horario  {
        /*
        font-weight:800;
        position: relative;
        left: -85px;
        top: -30px; */
        
    }

}

