@media only screen and (max-width: 600px) {
    
    
    #agenda {
        width: 100%;
        min-width: 320px;
        height: auto;
    }
    #agenda .agenda img {
        width: 100%;
        display: flex;
    }

    #agenda  h2 {
        width: 50%;
        display: flex;
    } 


    /* funcionalidad */
    #seleccionar-dia {
        display: none;
    }
    .charlas-dia {
        display: none;
    }
    .charlas-dia {
        display: block;
    }


    
}

@media only screen and (min-width: 601px) {
    /* No quiero que se muestre */
    .menu-dias{
        display: none;
    }
    
    .Agenda h1 {
        margin-top: 10px;
        font-size: 3.8rem;
        font-weight: 500;
        line-height: 44.53px; 
        display: flex;
        justify-content: center;
        
    }

    .charlas-dia {
        width: calc(100% - 200px);
        height: auto;
        margin: 100px;
    }

    .charlas-dia h1 {
        margin: 10px;
        font-size: 3.8rem;
        font-weight: 300;
        line-height: 44.53px;
        justify-content: left;  
    }

    .charlas-dia h2 {
        font-size: 1.5rem;
        font-weight: 700;
    }

    .charlas-dia ul {
        display: flex;
        list-style: none;
        width: 900px;
    }


    .charlas-dia ul li {
        background-color: #C4C4C4;
        margin: 10px;
        border-radius: 10px;
        width: 550px;
        height: auto;
    }

    .charlas-dia .Charla a {
        position: relative;
        left: -140px;
        text-decoration: none;
        font-weight: 700;
        color: #0B76F7;
        top: -10px;
        
    }

    .Charla {
        display: flex;
        flex-wrap: wrap;
    }

    .Charla h2 {
        width: 70%;
        align-items: center;
        vertical-align: middle;
        padding-top: 20px;
        padding-left: 10px;
    }

    .Charla img {
        width: 120px;
        border-radius: 100px;
        margin-top: 5%;
        margin-right: 5px;
        margin-left: 5px;
    }

    .Charla #conferencista {
        width: 50%;
        position: relative;
        left: 31%;
        top: -60px;
    }

    #horario  {
        font-weight:800;
        position: relative;
        left: -85px;
        top: -30px;
        
    }

    .charlas-dia {
        width: 50px;
    }

}

