@media only screen and (min-width: 600px) {
    .organiza {
        height: 100%;
        background-color:white;
    }
    
    .organiza h1 {
        color: black;
        font-size: 3rem;
        display: flex;
        justify-content: center;
        margin-top: 3rem;
    }
    
    .organiza ul {
        display: flex;
    
    }
    
    .organiza ul .componente-1 {
        width: 50%;
        padding: 1rem;
    }
    
    .organiza ul .componente-1 img{
        display: flex;
        width: 85%;
        margin-left: 6rem;
        margin-top: 4rem;
        
    }
    
    .organiza ul .componente-2 {
        width: 50%;
        margin: 5vw;
    
    }
    .organiza ul .componente-2 .texto {
        font-size: 1.8rem;
        text-align: left;
        padding: 0%;
        margin: 0%;
        margin-bottom: 20px;
        
    }
    

    .organiza ul h1 {
        font-size: 1rem;
        margin: 5vh;
    }
    
    .organiza ul img {
        width: 3vw;
        margin: 5px;
    }
      
}


