ul {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

div h1 {
    text-align: center;
    margin-top: 60px;
   
}

body #talleres div ul li  {
    border-radius: 10px;
    background-color: white;
    border: 1px solid blue;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

.talleres-tarjetas  {
    
    border: 1px solid white;
}
