@media only screen and (min-width: 600px) {
    #talleres .todos-los-talleres  {
        margin-top: 5%;
        
    }

    #talleres .todos-los-talleres .talleres-tarjetas {
        height: 500px;
        padding-left: 6rem;
    }

    #talleres .todos-los-talleres .talleres-tarjetas h2 {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 4.8rem;
        line-height: 56.25px;
        font-weight: 300;
        font-style: normal;
        color:black;  
    }

    #talleres .todos-los-talleres .talleres-tarjetas #tallerista {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 3rem;
        line-height: 39.84px;
        font-weight: 400;
        font-style: normal;
        color:rgb(92, 92, 92);
        padding-left: 3px;
        margin-bottom: 10px;  
    }

    #talleres .todos-los-talleres .talleres-tarjetas ul li {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: black;
        font-weight: 300;
        margin: 20px;
        font-style: normal;
        font-size: 1.5rem;
        line-height: 25.78px;
    }

    #talleres .todos-los-talleres .talleres-tarjetas a {
        display: flex;
        width: 200px;
        text-decoration: none;
        background-color: #e74919;
        padding: 7px;
        border-radius: 5px;
        color: white;
        font-weight: 500;
        margin-top: 200px;
    }

    /*AQui comienza el css de talleres, la parte talleres que se supone que es talleres*/

    .main-talleres-container {
        width: 100%;
        margin-top: 5%; /*No estoy muy seguro de esta medida, si se cruza con el header, aqui esta el problema*/
        
    }
    
    .main-talleres-container .talleres--textbox{
        display: flex;
        width: 100%;
        margin:  0 auto;
        justify-content: center;
    }

    .main-talleres-container .talleres--textbox {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 4.2rem;
        line-height: 4.92rem;
        color: black;
        margin: 1%;
    }


    .main-talleres-container .talleres-space {
        width: 100%;
        display: flex;
        justify-content: space-around;  
        margin: 0 auto;
        margin-top: 2%;
        
    }


    .main-talleres-container .talleres-space .talleres--block-container {
        border: #0B76F7 1px solid;
        border-radius: 10px;
        padding: 2%;
        
    }


    .main-talleres-container .talleres-space .talleres--block-container .talleres--block-container-items {
        list-style: none;
    }

    .items-title h1 {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 2rem;
        line-height:2rem;
        margin-bottom: 0.5vh;
        
    }

    .items-name p {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.5rem;
        line-height: 1.7rem;
        color: black ;
        opacity: 50%;
        margin-bottom: 1vh;
    }

    .items-time h2 {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 1.4rem;
        line-height: 1.7rem;
        color: black ;
    }

    .items-button button {
        background-color: #0B76F7;
        list-style: none;
        cursor: pointer;
        color: white;
        width: 23%;
        border: none;
        border-radius: 10px;
        padding: 5px;
        font-size: 1.2rem;
        margin-top: 2vh;
    }
}